<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 配置命名空间，区别名称 -->

<mapper namespace="cn.yyg.ActivityMapper">

	<resultMap type="cn.yyg.domain.Activity" id="ActivityUserNumber">
		<id property="aid" column="aid"/>
		<result property="goodname" column="goodname"/>
		<result property="goodtype" column="goodtype"/>
		<result property="goodcolor" column="goodcolor"/>
		<result property="numberCount" column="numberCount"/>
		<result property="numberSaled" column="numberSaled"/>
		<result property="status" column="status"/>
		<result property="openDate" column="openDate"/>
		<result property="currentIndex" column="currentIndex"/>
		<result property="userId" column="userId"/>
		<result property="sourceNumber" column="sourceNumber"/>
		<result property="bandCategory" column="bandCategory"/>
		
		<collection property="myLuckNumber" column="aid" ofType="cn.yyg.domain.LuckNumber">
			<id property="lid" column="lid"/>
			<result property="userId" column="luserId"/>
			<result property="aid" column="laid"/>
			<result property="number" column="number"/>
			<result property="date" column="date"/>
		</collection>
	</resultMap>
	
	<!-- see the current user the one of activity and the activity's numbers -->
	<select id="getActivityUserNumber" resultMap="ActivityUserNumber" parameterType="map">
		select 
		a.aid, a. goodname, a. goodtype, a. goodcolor, a. numberCount, a. numberSaled, a.status, a.openDate, a.currentIndex, a.userId, a.sourceNumber,a.bandCategory,
		l.lid, l.userId as luserId, l.aid as laid, l.number, l.date
		from 
		activity a left join lucknumber l 
		on a.aid=l.aid 
		where l.userId = #{userId} and a.aid = #{aid}
	</select>

	<insert id="insert" parameterType="cn.yyg.domain.Activity">
		INSERT INTO activity (aid, goodname, goodtype, goodcolor, numberCount, numberSaled,status,openDate,currentIndex, bandCategory)
		VALUES 			(#{aid},#{goodname},#{goodtype},#{goodcolor},#{numberCount},#{numberSaled},#{status},#{openDate},#{currentIndex},#{bandCategory})
	</insert>
	
	<delete id="deleteById" parameterType="String">
		DELETE FROM activity
		WHERE aid = #{aid}
	</delete>
	
	<update id="updateById" parameterType="cn.yyg.domain.Activity">
		UPDATE  activity	 
		<set>
			<if test="sourceNumber != null">sourceNumber = #{sourceNumber},</if>
			<if test="userId != null">userId = #{userId},</if>
			
			
			<if test="goodname != null">goodname = #{goodname},</if>
			<if test="goodtype != null">goodtype = #{goodtype},</if>
			<if test="goodcolor != null">goodcolor= #{goodcolor},</if>
			<if test="numberCount != null">numberCount = #{numberCount},</if>
			<if test="numberSaled != null">numberSaled = #{numberSaled},</if>
			<if test="status != null">status = #{status},</if>
			<if test="openDate != null">openDate = #{openDate},</if>
			<if test="currentIndex != null">currentIndex = #{currentIndex},</if>
			<if test="currentIndex != null">bandCategory = #{bandCategory},</if>
		</set>
		
		WHERE aid = #{aid}
	</update>
	
	

		
	<!-- <select id="getByUserName" resultType="cn.yyg.domain.Activity" parameterType="String">
		SELECT * FROM r_admin WHERE AUSERNAME = #{username}
	</select> -->
	<select id="getById" parameterType="String" resultType="cn.yyg.domain.Activity">
		SELECT * FROM activity 
		WHERE aid = #{aid}
	</select>
	<select id="getUserActivity" parameterType="String" resultType="cn.yyg.domain.Activity">
		SELECT * FROM activity 
		WHERE userId = #{userId}
	</select>
	
	<!-- getAllActivityByPage -->
	<!-- get count of all meet the arg -->
	<select id="getAllCount" parameterType="String"
		resultType="int">
		select count(*) from activity
	
		<where>
			1 = 1
			<if test="_parameter != null and _parameter !='' ">${_parameter}</if>
		</where>
		order by openDate desc
	</select>	
	<!-- attr: attrUrl must be the type of 1=1 ('a'='a') and xxx=kkk -->
	<select id="getCurrentPage" parameterType="HashMap"
		resultType="cn.yyg.domain.Activity">
		select * from activity
		
		<where>
			<if test="attrUrl != null">${attrUrl}</if>
		</where>
		
		order by openDate desc, currentIndex desc
		limit #{lose},#{pageSize}
	</select>
	
	
	
	<!-- getActivityById -->
	
	<!-- getActivityByTitile(goodname,goodtype,goodcolor) -->
	<select id="getActivityByTitle" parameterType="map" resultType="cn.yyg.domain.Activity">
		SELECT * FROM activity
		WHERE goodname = #{goodname} and goodtype = #{goodtype} and goodcolor = #{goodcolor}
	</select>
	
	<!-- AddLuckNumberByUser(userid) -->
	
</mapper>